<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Board Information</title>
</head>
<body>
  <h1>게시글 상세</h1>
  <hr>
  <table border="1">
    <tbody>
      <tr>
        <th>NO.</th>
        <td th:text="${board.bno}"></td>
      </tr>
      <tr>
        <th>제목</th>
        <td th:text="${board.title}"></td>
      </tr>
      <tr>
        <th>등록날짜</th>
        <td th:text="${board.createdAt}"></td>
      </tr>
      <tr>
        <th>수정날짜</th>
        <td th:text="${board.modifiedAt}"></td>
      </tr>
      <tr>
        <th>작성자</th>
        <td th:text="${board.memberEntity.id}"></td>
      </tr>
      <tr>
        <th>내용</th>
        <td th:text="${board.content}"></td>
      </tr>
    </tbody>
  </table>
  <a th:href="@{/boardUpdateForm/{bno}(bno=${board.bno})}"><button th:if="${session.id == board.memberEntity.id}">수정하기</button></a>
  <a th:href="@{/boardDelete/{bno}(bno=${board.bno})}"><button th:if="${session.id == board.memberEntity.id}">삭제</button></a>
</body>
</html>